In [1]:
import pandas as pd

df = pd.read_csv('air_q_betim_bairro_alterosas.csv', delimiter=";")
# https://medium.com/@filip.sekan/pivot-vs-pivot-table-methods-in-pandas-definitions-examples-differences-dcc9e14e667f

In [2]:
df.tail()

,Estado,Município,Estação,Ano de Data,Mês de Data,Dia de Data,Data,IQAR,NumeroIQAR,Poluente,Tipo de cálculo,Tipo de monitoramento,Data.1
12592,MG,Betim,Bairro Jardim das Alterosas,2022,dezembro,29,29/12/2022,Boa,32,MP2.5,Média aritmética de 24h,Automática,29/12/2022
12593,MG,Betim,Bairro Jardim das Alterosas,2022,dezembro,19,19/12/2022,Boa,34,MP2.5,Média aritmética de 24h,Automática,19/12/2022
12594,MG,Betim,Bairro Jardim das Alterosas,2022,dezembro,2,02/12/2022,DQA (Recomendação OMS),38,O3,Máxima média de 8h,Automática,02/12/2022
12595,MG,Betim,Bairro Jardim das Alterosas,2022,dezembro,8,08/12/2022,DQA (Recomendação OMS),40,O3,Máxima média de 8h,Automática,08/12/2022
12596,MG,Betim,Bairro Jardim das Alterosas,2022,dezembro,9,09/12/2022,DQA (Recomendação OMS),42,O3,Máxima média de 8h,Automática,09/12/2022

In [3]:
poluentes = ['CO', 'MP10', 'O3', 'MP2.5', 'SO2']

df_filtrado = df[df['Poluente'].isin(poluentes)]

df_pivot = df_filtrado.pivot(index='Data', columns='Poluente', values='NumeroIQAR')

df_pivot = df_pivot.reindex(columns=poluentes)

df_pivot.reset_index(inplace=True)

In [4]:
df_pivot.head()

Poluente        Data   CO  MP10    O3  MP2.5  SO2
0         01/01/2015  NaN  24.0  56.0    NaN  0.0
1         01/01/2016  NaN  32.0  50.0   46.0  0.0
2         01/01/2018  0.0   NaN  41.0    NaN  0.0
3         01/01/2019  1.0   NaN  34.0    NaN  2.0
4         01/01/2020  0.0  15.0  29.0   12.0  0.0

In [5]:
df_pivot.to_csv('betim_pivot_bairro.csv', index=False, encoding='utf-8-sig')